@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Roboto', sans-serif;
    color: #000;
}

#background{
    width: 100%;
}

ul{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #018ba8;
    width: 75%;
    top: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 5px;
}
li{
    text-decoration: none;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #fff;
}
.index-content{
    padding: 10px;
    top: 65%;
    position: fixed;
    background-color: #fff;
    display: block;
    height: 100%;
    width: 100%;
}
footer{
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #018ba8;
    top: 90%;
    position: fixed;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.contact{
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);    
    position: fixed;
    display: block;
    width: 75%;
    height: 40%;
    background-color: #018ba8;
    border-radius: 25px;
    text-align: center;
    color: #fff;
    padding: 10px;
    
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    cursor: pointer;   
    position: relative;
    background-color: #fff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    background-color: grey;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
#contact-text{
    border-radius: 10px;
    border: 0px;
    text-align: center;
    padding: 5px;
    margin: 5px;
}
#text{
    border-radius: 10px;
    border: 0px;
    text-align: center;
    padding: 10px;
}
#absenden{
    background-color: #fff;
    color: #018ba8;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
}
#absenden:hover{
    cursor: pointer;
}
.image-slide{
    width: 540px;
    overflow: auto;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    
}
.slider-inner{
    width: 500px;
    height: 250px;
    position: relative;
    overflow: hidden;
    float: left;
    padding: 3px;
    border:#018ba8 solid 5px;
    border-radius: 10px;
    
}
.slider-inner img{
    display: none;
    width: 500px;
    height: 250px;
}
.slider-inner img.active{
    display:inline-block;
}
.prev, .next{
    float: left;
    margin-top: 130px;
    cursor: pointer;
}
.prev{
    position: absolute;
    top: 65%;
    left: 25%;
    transform: translate(-50%, -50%);
    z-index: 100;
}
.next{
    position: absolute;
    top: 65%;
    left: 75%;
    transform: translate(-50%, -50%);
    z-index: 100;
}
h1{
    color:#018ba8;
    padding: 2px;
}
#contact-h1{
    color: #fff;
}